$btnColor:#008DC4;
$btnBorderColor:darken($btnColor,20%);
$textColor:#555;
$mainColor:#008DC4;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400|Roboto);


@mixin mobile(){
    @media(max-width:640px){
        @content
    }
}

body {
    color:$textColor;
    margin:10px;
    font-size:1.5em;
    font-family:'Segoe UI','Open Sans', Tahoma, Geneva, Verdana, sans-serif;
}


.blog{
    text-align:right;
    margin-right:2rem;
    .btn-primary,a:hover{
        background-color:$btnColor;
        border:1px solid $btnBorderColor;
    }
}

.logo{
       margin-bottom:3rem;
       padding:10px 0;
       margin-top:30px;
       text-align:center;

       span{
         font-size: 3em;
         font-weight: bold;
         color:$mainColor;
       }
   }

header{
   margin-bottom:4rem;

   text-align:center;

   p{
       font-size:1.5em;
       color:#808080;
   }

   h1{
    font-size:2.2em;

    }
}


a,a:hover{
    //color:#fff;
}

.newsletter{

    border-radius:10px;
    padding:20px 20px;
    margin-top:20px;
    //margin-bottom:20px;
    button{
        font-weight:bold;
        font-size:2rem;

        margin-top:-6px;


        border:1px solid $btnBorderColor;
    }

    .help-block{
      font-size: 90%;
      padding-left:1rem;
    }

    .form-control{
       width:60%;
       height:43px;
        display:inline;
       border-radius:0;
       border:2px solid $btnColor;
    }
}

.btn{
  color:white;
}

.btn-primary, .btn-primary:hover{
    background-color:lighten($btnColor,15%);
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
    border-color:$btnBorderColor;
}

address{
    display:inline;
    font-size:1rem;
        padding-left:1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.nav > li > a:focus, .nav > li > a:hover {
    text-decoration:underline;
    //background-color: $bgColor;
}
.navbar-nav > li > a {
    padding-bottom:0;
}






@media(max-width:768px)
{
    .tagline {
        font-size:2.5rem;
    }

    .tagline2
    {
        font-size:1.3rem;
    }
}



footer{

    font-size:1.2rem;

    margin:3rem auto;
    text-align:center;

    width: 100%;
}


.white-bg{
    background-color:#fff;
    padding:5px;
    border:1px solid #bebebe;
    border-radius:2px;
  //  box-shadow:2px 2px 5px #cfcfcf ;
}

.faq {
    margin-bottom:30px;

    h2{
        font-size:2.3rem;
        margin-bottom:20px;
        font-weight:bold;
        margin-top:55px;
        text-align:center;
        color:$btnColor;
    }

    p{
        color:#6D6D6D;
        padding:0px 30px;
        font-size:1.7rem;
        line-height:1.5;
    }

    @include mobile {
        p{
            padding:0 15px;
        }
    }

    .what-is{
        p{
            width:80%;
        }

        @include mobile{
           p{
               width:100%;

           }
        }

        h2{
            color:lighten($textColor,30%);
        }

        margin-bottom:70px;
    }
    ul{
      list-style: none;
    }

    li{
      font-size: .95em;
    }
    li:before {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: 80%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px;
    color:$mainColor;
    content: "\e013";
}
}

.error{
    color:#b40101;
}

li{
  margin-bottom:1rem;
}

@media(max-width:768px)
{
    .newsletter{

        .form-control{
            width:100%;
        }
        button{
            margin-top:-1px;
            margin-left:0;
            display:block;
            width:100%;
            text-align:center;
        }
    }
}
